{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Letter To Myself</title>
    <link rel="stylesheet" href="{% static 'css/authentication/index.css' %}">

    
</head>
<body>
    <header>
        <h1 class="main-logo"><a href="{% url 'home' %}" style="text-decoration: none;  color: #805a46;  font-family: 'KCC-Sonkeechung';"> Letter To Myself</a></h1>

    </header>
    <!-- 기존 햄버거 버튼 -->
    <div class="hamburger-btn">
        <img src="{% static 'images/poststamp.png' %}" alt="우표스티커 UI" width="50px">
    </div>


    <!-- 메뉴 바깥을 클릭하면 닫힘 -->
    <div class="page_cover"></div>

    <!-- 사이드 메뉴 -->
<div id="menu">
    <ul class="nav">
        <li><a href="{% url 'letters:writing' %}">편지 쓰기</a></li>
        <li><a href="{% url 'letters:letter_list' %}">편지 목록</a></li>
        <li><a href="{% url 'routines:save_routine' %}">편지 루틴</a></li>


        {% if user.is_authenticated %}
            <li><a href="{% url 'authentication:mypage' %}">마이페이지</a></li>
            <li><a href="{% url 'authentication:logout' %}">{{ user.username }} (로그아웃)</a></li>
        {% else %}
            <li><a href="{% url 'authentication:login' %}">로그인</a></li>
        {% endif %}

        <li><a href="{% url 'authentication:signup' %}">회원가입</a></li>
    </ul>
</div>


    <!-- JavaScript 연결 -->
    <script src="{% static 'js/script.js' %}"></script>

    <section class="hero">
        <h3>나에게 보내는 편지, 오늘 시작해 보세요.</h3>
        {% load static %}
        <a href="http://127.0.0.1:8000/writing/"><img src="{% static 'images/pencil.png' %}" alt="편지 UI" width="60" style="flex-direction: column"></a>
        <!-- 우체통 -->
        <div class="mailbox-container">
            <img src="{% static 'images/postbox2.png' %}" alt=""우체통 UI" width="80%" ">
        </div>
    </section>

    <footer>
        <p>&copy; 2025 A Letter To Myself</p>
    </footer>
</body>
</html>
