.profile-info {
    position: relative;
    text-align: center;
}

.profile-edit-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #9c9595;
    color: white;
    padding: 8px 12px;
    height: auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    width: fit-content;
    align-self: center;
}

.blog-url a {
    color: #9c9595;
    text-decoration: underline !important;
}
