{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- FullCalendar JS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <!-- JavaScript 연결 -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- FullCalendar CSS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <title>나에게 쓰는 편지</title>
    <link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">    <style>
        body { font-family: Arial, sans-serif; max-width: 600px; margin: auto; }
    </style>
</head>
<body>
    <header style="position: relative;">
        <h1 style=" font-family: 'KCC-Sonkeechung';"">
        A Letter To Myself</h1>
    </header>
   

    <div class="formContainer">
        <div class="signin">
          <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="logo">
                <img src="{% static 'images/stamp.png' %}" alt="왁스실링 UI" width="100px">
            </div>
            <div class="input-group">
              <i class="fa fa-envelope"></i>
              <!-- <input type="text" placeholder="UserID" name="username" id="username"
              value="{{ form.username.value|default_if_none:'' }}"> -->
              <input type="text" name="username" value="{{ request.POST.username|default:'' }}">

            </div>
            
            <div class="input-group">
              <i class="fa fa-unlock-alt"></i>
              <input type="password" placeholder="Password" class="form-control" name="password" id="password"
              value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit">Sign In</button>
            {% if error %}
              <p style="color: brown;">{{ error }}</p>
            {% endif %}
          </form>
          <a href="{% url 'accounts:signup' %}" id="signup">sign up</a>
        </div>


 
</body>
</html>



